<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @list.photo.key, crop: :fill %>')">
  <div class="container">
    <h1><%= @list.name %></h1>
    <p>There's <%= @list.movies.size %> in this list.</p>
    <%= link_to "Add a movie", new_list_bookmark_path(@list), class: "btn btn-flat" %>
  </div>
</div>

<div class="container p-3">
  <div class="row">
    <% @list.bookmarks.each do |movie_bookmark| %>
    <% movie = Movie.find(movie_bookmark.movie_id) %>
    <div class="col md-6">
      <div class="card movie-card" style="width: 18rem;">
        <img src="<%= movie.poster_url %>" class="card-img-top" alt="<%= movie.title %>">
        <div class="card-body">
          <h5 class="card-title"><%= movie.title %></h5>
          <p class="card-text"><strong><%= movie.rating %> <i class="fa-solid fa-star" style="color: orange"></i></strong></p>
          <p class="card-text"><%= movie.overview[0, 100] %>...</p>
          <hr>
          <figcaption class="blockquote-footer">
            <%= movie_bookmark.comment %>
          </figcaption>
        </div>
        <%= link_to "Remove from list", bookmark_path(movie_bookmark), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: "btn btn-danger" %>
      </div>
    </div>
    <% end %>

    <%= link_to new_list_bookmark_path(@list), class: "wrapper-link" do %>
      <div class="col md-6">
        <div class="card movie-card" style="width: 18rem;">
          <img src="<%= cl_image_path @list.photo.key %>" class="card-img-top" alt="Add a movie">
        <div class="card-body">
          <h5 class="card-title">Title</h5>
          <p class="card-text"><strong>? <i class="fa-solid fa-star" style="color: orange"></i></strong></p>
          <p class="card-text">Synopsis</p>
          <hr>
          <figcaption class="blockquote-footer">
            Your comment
          </figcaption>
        </div>
         <%= link_to "Remove from list", "#", data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: "btn btn-danger disabled" %>
        </div>
        </div>
    <% end %>

    </div>
  </div>
</div>
